.cabecalho {
    background: #1b5210;
    background: linear-gradient(90deg, rgba(27,82,16,1) 10%, rgba(42,79,33,1) 35%);
    color:white;
    display: flex;
    justify-content: space-between;
}

.logo{
    font-family: 'Staatliches', cursive;
    margin: 1em 0 1em 1em;
}

@media screen and (min-width: 0){
    .cabecalho{          
        text-align: center;
        padding: 0 0.75rem;
    }

    .menu__lista{
        flex-direction: column;
    }

    .logo{
        margin-left: 0;
        font-size: 4em;
    }
}

@media screen and (min-width: 768px) {
    .cabecalho {
        color:white;
        display: flex;
        flex-direction: row;
    }

    .menu__lista {
        flex-direction: row;
    }

    .logo {
        font-size:2em;
    }
}




