.quem-somos__texto {
   
    font-size: 1.50em;
    width: 80%;
    margin: 150px 0 0 100px;
    text-align: left;
}

@media screen and (min-width:0) {
    .quem-somos__texto{
        text-align: center justify;
        text-justify: inter-word;
        margin-top: 20px;
        margin-left: 10%;
        margin-right: 10%;
        
    }
}

@media screen and(min-width:768px){
    .quem-somos__texto{
        text-align:right
    }
}